// Palette 2 URL: http://paletton.com/#uid=72E1m0kwi++bu++hX++++rd++kX

$color-red-lightest: #ffa4b9;
$color-red-light: #ff7091;
$color-red: #ff003b;
$color-red-dark: #c7002e;
$color-red-darkest: #990024;

$pastel-red-lightest: #fff3f6;
$pastel-red-light: #fd99b0;
$pastel-red: #fc577d;
$pastel-red-dark: #fc184d;
$pastel-red-darkest: #fb003b;

$color-orange-lightest: #ffcda4;
$color-orange-light: #ffb170;
$color-orang0: #ff7400;
$color-orange-dark: #d96200;
$color-orange-darkest: #a74c00;

$pastel-orange-lightest: #fff8f3;
$pastel-orange-light: #ffc89a;
$pastel-orange: #ffa358;
$pastel-orange-dark: #ff8119;
$pastel-orange-darkest: #ff7400;

$pastel-yellow-lt-lightest: #fffff3;
$pastel-yellow-lt-light: #fffc9a;
$pastel-yellow-lt: #fffb58;
$pastel-yellow-lt-dark: #fff919;
$pastel-yellow-lt-darkest: #fff800;

$color-yellow-lt-lightest: #fffda4;
$color-yellow-lt-light: #fffb70;
$color-yellow-lt: #fff800;
$color-yellow-lt-dark: #d9d300;
$color-yellow-lt-darkest: #a7a300;

$color-yellow-lightest: #ffe8a4;
$color-yellow-light: #ffdb70;
$color-yellow: #ffbf00;
$color-yellow-dark: #d9a300;
$color-yellow-darkest: #a77d00;

$pastel-yellow-lightest: #fffcf3;
$pastel-yellow-light: #ffe69a;
$pastel-yellow: #ffd558;
$pastel-yellow-dark: #ffc519;
$pastel-yellow-darkest: #ffbf00;

$color-green-lightest: #c6ffa4;
$color-green-light: #a5ff70;
$color-green: #5fff00;
$color-green-dark: #47be00;
$color-green-darkest: #369200;

$pastel-green-lightest: #f7fff3;
$pastel-green-light: #bdfc98;
$pastel-green: #93fb56;
$pastel-green-dark: #6cfa18;
$pastel-green-darkest: #5dfa00;

$color-blue-lightest: #b1b1ff;
$color-blue-light: #8585ff;
$color-blue-: #2626ff;
$color-blue-dark: #000098;
$color-blue-darkest: #000075;

$pastel-blue-lightest: #f4f4fe;
$pastel-blue-light: #a4a4f7;
$pastel-blue-: #6c6cf4;
$pastel-blue-dark: #3939f4;
$pastel-blue-darkest: #0505f2;

$color-cyan-lightest: #a4ffff;
$color-cyan-light: #70ffff;
$color-cyan: #00ffff;
$color-cyan-dark: #008282;
$color-cyan-darkest: #006464;

$pastel-cyan-lightest: #f2fefe;
$pastel-cyan-light: #94f4f4;
$pastel-cyan: #53f1f1;
$pastel-cyan-dark: #17f0f0;
$pastel-cyan-darkest: #00eeee;

$color-purple-lightest: #dba9ff;
$color-purple-light: #c779ff;
$color-purple: #9b10ff;
$color-purple-dark: #540091;
$color-purple-darkest: #410070;

$pastel-purple-lightest: #faf3fe;
$pastel-purple-light: #d09bf6;
$pastel-purple0: #b45ef3;
$pastel-purple-dark: #9d25f3;
$pastel-purple-darkest: #8d02f1;
